{% extends "base.html" %}

{% block content %}

<div class="container">
  
  {% for msg in get_flashed_messages() %}
    <div>{{ msg }} </div>
  {% endfor %}

  <div class="row">
    <div class="col">
      <form id="add-pet-form" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          <p>
            {{ field.label }}
            {{ field }}
      
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endfor %}
        <a href="/" class="btn btn-secondary">back</a>
        <button type="submit" class="btn btn-success">add</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}